---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'bourbon/bourbon';
@import 'mixins';
@import 'skel';

$baseurl:       '{{ site.baseurl }}/images';
$spacing-unit:   4px;
$on-palm:        600px;
$on-laptop:      800px;

$bg-color:       #27202B;
$particle-color: #CCDFF5;
$white:          #FAFAFC;
$accent:         #4098BC;

@include skel-breakpoints((
  xlarge:  '(max-width: 1680px)',
  large:   '(max-width: 1280px)',
  medium:   '(max-width: 900px)',
  small:    '(max-width: 740px)',
  xsmall:   '(max-width: 480px)',
  dinky:    '(max-width: 260px)'
));

@include skel-layout((
  reset: 'full',
  boxModel: 'border',
  grid: ( gutters: 1.5em )
));

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

/* Basic */
@-ms-viewport {
  width: device-width;
}

body {
	font-family: 'Avenir Next', 'Open Sans', Arial, Helvetica, sans-serif;
	font-style: normal;
	width: 100vw;
	height: 100vh;
	margin: 0;
	&.is-loading {
		*, *:before, *:after {
			@include vendor('animation', 'none !important');
			@include vendor('transition', 'none !important');
		}
	}
}

#particles-js {
	display: flex;
	background: $bg-color;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
	vertical-align: bottom;
	box-shadow: 0 2px 15px rgba(#000, 0.4);
	.particles-js-canvas-el {
		width: 100vw !important;
		height: 100vh !important;
		z-index: 0;
	}
}

audio, canvas, video {
	display: inline-block;
	width: 100vw; 
	height: 100vh;
}

.content-container {
	@include transform(translate(-50%,-50%));
	position: absolute;
	top: 26%;
	left: 50%;
	width: 60vw;
	// height: 75vh;
	letter-spacing: 0.0375em;
	text-align: center;
	margin: -3vw auto;
	// padding: 35px;
	z-index: 100;
	h1 {
		color: rgba(#fff, 0.9);
		font-size: 7.25vw;
		line-height: 1;
		letter-spacing: 0.04em;
		margin: 0 auto 0.5vw;
		padding: 0;
	}
	h4 {
		color: rgba(#eee, 0.85);
		font-size: 2.85vw;
		font-weight: 500;
		line-height: 2;
		margin: 0 auto 2.5vw;
		.fa {
			font-size: 0.7vw;
			vertical-align: middle;
			padding: 0 2px;
		}
	}
}

.img-container {
  width: 100%;
	height: auto;
	text-align: center;
  margin: 0 auto 2.95vw;
  overflow: hidden;
  .avatar {
    display: block;
    width: 20vw;
    height: 20vw;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(#000, 0.7);
		vertical-align: middle;
    margin: 0 auto;
		opacity: 1;
  }
}

.icons {
	font-size: 3vw;
	text-align: center;
	list-style: none;
	margin: 0 0 0.5vw;
	padding: 0;
	.label {
		display: none;
	}
	li {
		@include transition(background-color 600ms ease 50ms);
		display: inline-block;
		position: relative;
		background-color: transparent;
		width: 5vw;
		height: 5vw;
		border: 2px solid rgba(#fff, 0.7);
		border-radius: 50%;
		vertical-align: middle;
		text-align: center;
		align-content: center;
		margin: 0.35vw;
		padding: 0.6vw 0.6vw 0.6vw 0.7vw;
		&:last-child {
			font-size: 2.8vw;
		}
		&:hover, &:active {
			background-color: rgba(#fff, 0.85);
			border-color: rgba(#fff, 0.5);
			a::before {
				// color: mix($bg-color, #fff, 5%);
				color: mix($bg-color, #fff, 100%);
				text-shadow: none;
			}
		}
		a {
			@include transition(color 600ms ease-in-out 50ms);
			color: mix($bg-color, #fff, 25%);
			text-decoration: none;
			text-shadow: 0 1px 3px rgba(#000, 0.6);
		}
	}
}

.landing-contact {
	display: block;
	position: relative;
	background: $white;
	color: darken($bg-color, 2%);
	height: 108vh !important;
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 3vw !important;
	padding-bottom: 125px !important;
	z-index: -1;
}

#contact {
	height: 100vh;
  padding: 3em 2.5em 2.5em;
  ul {
		list-style: none;
    padding: 3em 0 1em;
  }
	form {
	  margin: 0;
	  // @include breakpoint(small) {
	  //   margin-bottom: 1em;
	  // }
	}
	label {
	  color: rgba(#fff, 0.9);
	  display: block;
	  font-size: 0.9em;
	  font-weight: 600;
	  margin: 0 0 (2em * 0.5) 0;
	}
	.row.uniform > div {
		padding-top: 3em !important;
	}
	.actions {
		// margin-top: 3vw;
		padding-top: 4vw;
	}
}

#sendemail {
  > div {
    width: 90%;
    margin: auto;
		padding-top: 1vw;
    padding-right: 1.45vw;
    > ul {
      position: relative;
			list-style: none;
      margin: 2vw 39.5%;
      li {
        margin: 0;
				// padding: 1.5vw 0;
      }
    }
  }
}

#response {
  padding: 2em 0 0.5em 0;
  > div {
    padding-bottom: 2.5em;
    > h4 {
      font-size: 2em;
      font-weight: 800;
      letter-spacing: 0.165em;
      line-height: 1.25;
      text-align: center;
      margin-bottom: 0.5em;
    }
    > p {
      line-height: 2;
      text-align: center;
      margin: 0;
      
      > a {
        font-weight: 700;
        color: rgba(#fff, 0.8);
        &:hover, &:active {
          color: rgba(#fff, 0.9);
        }
      }
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  @include vendor('appearance', 'none');
  display: block;
  background: rgba(#fff, 0.75);
  color: rgba(#000, 0.75);
	font-size: 12pt;
  font-weight: 400;
	text-decoration: none;
	width: 100%;
	border-radius: 10px;
	border: 1px inset #EAEAEA5E;
	box-shadow: inset 0 0 3px rgba(#000, 0.3) !important;
	outline: 0;
	margin: 0 auto 2em;
	padding: 0.5em 0.8em 0.6em;
  
  &:invalid {
    box-shadow: none;
  }
  
  &:focus {
    box-shadow: 0 0 0 2px _palette(accent1, bg);
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	display: inline-block;
	position: relative;
  height: 2.75em;
}

// input {
// 	float: left;
// 	&:nth-child(even) {
// 		float: right !important;
// 	}
// }

// .input-half input {
// 	display: inline-block;
// 	position: relative;
// 	width: 50% !important;
// }

textarea {
	line-height: 1.4;
	margin: 0 auto !important;
	padding: 0.65em 0.8em;
	resize: vertical;
	overflow-y: auto;
}

input {
  @include placeholder {
    color: rgba(#000, 0.6) !important;
    opacity: 0.8;
  }
}
.formerize-placeholder {
  @include opacity(0.6);
  color: rgba(#000, 0.75) !important;
}

button, .button {
  @include vendor('appearance', 'none');
  @include vendor('transition', ('background-color #{_duration(transitions)} ease-in-out', 'color #{_duration(transitions)} ease-in-out'));
	@include linear-gradient(lighten($bg-color, 12%), darken($bg-color, 1%));
  @include transition(all 300ms ease-in-out 0s, !important);
	display: flex;
  color: rgba(#fff, 0.85);
  font-size: 1.4vw;
  font-weight: 600;
  line-height: 2.75;
	letter-spacing: 0.075em;
	text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	text-overflow: ellipsis;
	height: 4vw;
	border: 1px solid lighten($bg-color, 20%);
	border-radius: 6px;
	text-shadow: 0 1px 1.5px rgba(#000, 0.6);
	box-shadow: 0 1px 8px rgba(#000, 0.3), 0 3px 0 0 lighten($bg-color, 8%), inset 0 0 0 -5px rgba(#000, 0.5), inset 0 2px 1px 0 rgba(#fff, 0.1) !important;
	justify-content: center;
  padding: 0 3vw;
	outline: 0;
	cursor: pointer;
	white-space: nowrap;
  overflow: hidden;
  
	&:hover, &:active {
		@include linear-gradient(lighten($bg-color, 15%), $bg-color);
		// @include transition(all 300ms ease-in-out 0s);
		color: rgba(#fff, 0.95) !important;
		text-shadow: 0 1px 1.5px rgba(#000, 0.85);
		box-shadow: 0 1px 14px rgba(#000, 0.3), 0 3px 0 0 lighten($bg-color, 8%), inset 0 0 0 -5px rgba(#000, 0.5), inset 0 2px 1px 0 rgba(#fff, 0.15) !important;
	}
	
	&.outline {
		background-color: transparent !important;
		border: 1px solid rgba(#fff, 0.75);
		box-shadow: inset 0 0 0 2px rgba(#fff, 0.85);
		&:hover {
			@include transition(all 300ms ease 0s, !important);
			background-color: rgba(200,200,200,0.25);
		}
	}
}


.page-wrapper {
	display: block;
	position:relative;
	min-height: 100%;
	z-index: 0;
	.page-header {
		width: 95%;
		margin: auto;
		padding: 2.5vw 2.5vw 0;
		.page-title {
			color: rgba(#000, 0.85);
			font-size: 8.5vw;
			letter-spacing: 0.025em;
			line-height: 1;
			margin: 3vw 0 2vw;
		}
	}
	.page-content {
		width: 95%;
		margin: auto;
		padding: 0 2.5vw 2.5vw; //125px;
	}
}


.header {
  @include vendor('transition', 'background-color #{_duration(.2s)} ease');
	@include opacity(0.85);
  display: block;
  position: fixed;
  // background-color: $white;
  // border-bottom: 1px solid #DDD;
  line-height: 3;
	height: 3.5vw;
	width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
	.trigger {
		float: right;
		padding-right: 1.4vw;
	}
  .page-link {
		@include transition(all 350ms ease-in-out 0s);
    color: rgba(#000, 0.7);
		font-size: 1.75vw;
    line-height: 1.5;  // Gaps between nav items, but not on the first one
		text-decoration: none;
		padding: 0.75vw 0.35vw;
		float: left;
    &:not(:first-child) {
      margin-left: 10px;
    }
    &:hover, &:active {
			@include transition(all 350ms ease-in-out 0s);
      color: lighten(saturate($bg-color, 10%), 20%);
			font-size: 1.85vw;
    }
  }
}


.credit-content {
	padding: 2vw;
	.credit-category {
		color: rgba(#000, 0.8);
		font-size: 3.5vw;
		margin: 0 0 2vw;
	}
	.credit-list {
		color: rgba(#000, 0.7);
		font-size: 1.8vw;
		letter-spacing: 0.04em;
		line-height: 1.3;
		list-style: none;
		padding-left: 2.25vw;
		.list-item {
			padding-bottom: 0.75vw;
			a {
				@include transition(all 350ms ease-in-out 0s);
				color: $accent;
				font-weight: 600;
				letter-spacing: 0.03em;
				text-decoration: none !important;
				padding-right: 1px;
				&:hover, &:active {
					color: lighten($accent, 20%);
				}
			}
			.credit-license {
				@include opacity(0.85);
				display: inline-block;
				position: relative;
				width: 1.6vw; 
				height: auto;
				vertical-align: middle;
				padding-left: 4px;
				&:hover path {
					fill: yellow;
				}
			}
		}
	}
}

#four-oh-four {
  img {
    @include filter(grayscale(55%));
    position: absolute;
    background-image: url("http://cdn.themehelite.com/themeforest/404doz/img/background-image.jpg"); 
    background-color: rgb(51, 51, 51); 
    background-position: center center; 
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -999;
  }
  #error-container {
    .overlay {
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }
  }
  .message {
    position: relative;
    font-face: 'Dosis', sans-serif !important;
    width: 78%;
    margin: auto;
    padding: 14vh 0 0;
    z-index: 999;
    h2 {
      font-family: 'Dosis', sans-serif !important;
      font-size: 550%;
      font-weight: 300;
      letter-spacing: 0.045em;
      line-height: 1.15;
      margin-bottom: 0.1em;
    }
    p {
      color: rgba(#fff, 0.8);
      font-size: 120%;
      letter-spacing: 0.025em;
      margin-bottom: 1.25em;
    }
    ul {
      color: rgba(#fff, 0.7);
      list-style: none;
      margin-bottom: 0;
      margin-left: 5px;
      padding-left: 0;
      li {
        @include transition(all 250ms ease-in-out 0ms);
        display: inline-block;
        position: relative;
        font-family: _font(ctrl-family);
        font-size: 110%;
        padding: 0 0.5em;
        &:first-child {
          padding-left: 0;
        }
        &:hover, &:active {
          color: rgba(#fff, 0.95);
          font-weight: 500;
          text-shadow: 0 0.5px 1px rgba(#000, 0.8); 
        }
      }
      span {
        position: relative;
        font-size: 40%;
        top: -3px;
        padding: 0;
      }
    }
  }
}

/********************** 
 ******* Footer *******
 **********************/
#footer {
	@include linear-gradient(top, lighten(mix(#30333b, $bg-color, 50%), 4%), darken(mix(#212329, $bg-color, 50%), 4%));
	// linear-gradient(#30333b,#212329)
	position: absolute;
	width: 100%;
	height: 125px;
	bottom: 0;
	text-align: center;
	box-shadow: 0 -2px 6px rgba(#000, 0.35);
	// box-shadow: none;
	padding: 3em 3em 0.55em !important;
	span {
		color: rgba(#fff, 0.7);
		font-size: 2.35vw;
		letter-spacing: 0.03em;
		line-height: 2;
		margin: 1em auto 1.5em;
		vertical-align: middle;
		.fa {
			padding: 0 1px;
			&.fa-heart {
				font-size: 95%;
				color: #DBC;
			}
		}
	}
	.icons {
		font-size: 2.5vw;
		margin-bottom: 1.75vw;
		li {
			width: 4.65vw;
			height: 4.5vw;
			padding: 0.6vw 0.7vw;
		}
	}
	.copyright {
		@include transition(all 350ms ease-in-out 0s);
    color: rgba(#fff, 0.7);
    font-size: 1.25vw;
		font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: none;
    list-style: none;
		margin-top: 1.5vw;
    margin-bottom: 0.5vw;
    padding: 0;
    cursor: default;
    li {
      border-left: solid 1px mix($bg-color, #fff, 45%);
      display: inline-block;
      line-height: 1.2;
      padding-left: 0.5em;
      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-right: 0.15em;
      }
      
      a {
        color: inherit;
				text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
      .jekyll-link:hover {
        color: #ed6262 !important;
      }
        
      // @include breakpoint(xsmall) {
      //   display: block;
      //   line-height: _font(hdr-lheight-normal);
      //   border: 0;
      //   margin: 0;
      //   padding: 0.5em 0;
      // }
    }
  }
}
