---
layout: landing
options: fullwidth, single-page
priority: 1.0
---

<div id="particles-js"></div>
  <section class="content-container">
  	<div class="img-container">
  		<img class="avatar" src="{{ 'images/avatar.png' | prepend: site.baseurl }}"/>
  	</div>
  	<h1 class="title">{{ site.title }}</h1>
    <!-- <h4 class="sub">{{ site.desc }}</h4> -->
    <!-- <h4 class="sub">Code Monkey</h4> -->
    <h4 class="sub">Developer <i class="fa fa-circle"></i> Designer <i class="fa fa-circle"></i> Student</h4>
  	<ul class="icons">
      {% for socloc in site.social %}
        {% if socloc[1] %}
          {% if socloc[0] == 'email' %}
            {% if page.options contains 'single-page' %}
            <li><a target="_blank" href="#contact" class="more scrolly fa fa-envelope"><span class="label">E-mail</span></a></li>
            {% else %}
            <li><a target="_blank" href="{{ socloc[1] }}" class="fa fa-envelope" style="position:relative;top:0.5px;left:0px;"><span class="label">E-mail</span></a></li>
            {% endif %}
          {% else %}
            <li><a target="_blank" href="{{ socloc[1] }}" class="fa fa-{{ socloc[0] }}">
            <span class="label">{{ socloc[0] }}</span></a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
<!-- </div> -->

{% if page.options contains 'single-page' %}
  <section id="contact" class="landing-contact">
    <form id="sendemail" action="{{ site.mailaction }}" method="POST">
      <input type='hidden' name='redirect_to' value='{{ '/contact-success' | prepend: site.baseurl | prepend: site.url }}'/>
      <input type="hidden" value="dog" id="type1"/>
      <input type="hidden" value="cow" id="type2"/>
      <input type="hidden" value="cat" id="type3"/>
      <div class="row uniform">
        <div class="input-half 6u 12u$(xsmall)">
          <input type="text" name="name" id="name" value="" placeholder="Name"/>
        </div>
        <div class="input-half 6u$ 12u$(xsmall)">
          <input required type="email" name="_replyto" id="email" value="" placeholder="Email"/>
        </div>
        <div class="12u$">
          <input required type="text" minlength="2" name="subject" id="subject" value="" placeholder="Subject"/>
        </div>
        <div class="12u$">
          <textarea required name="textbody" id="textbody" placeholder="Type your message" rows="6"></textarea>
        </div>
        <div class="12u$">
          <input type="text" name="country" id="country" value="" placeholder="What animal is this emoji? =^.^="/>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" class="button"/></li>
          <li class="send-success"><input type="hidden" name="success" value="Sent!" class="button error"/></li>
          <li class="send-failure"><input type="hidden" name="failure" value="Try Again" class="button success"/></li>
        </ul>
      </div>
      <input type="hidden" name="success" value="{{ '/contact-success' | prepend: site.baseurl | prepend: site.url }}"/>
      <input type="hidden" name="failure" value="{{ '/contact-failure' | prepend: site.baseurl | prepend: site.url }}"/>
    </form>
  </section>
  <script>
    $("#sendemail").validate({
      rules: {
        country: { required: true, equalTo: "#type3" }
      },
      messages: { country: "Specify a three-letter lowercase name." }
    });
  </script>
{% endif %}
</section>
