<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-wrapper">
      {% unless page.options contain "noheader" %}
        {% include header.html %}
        <div class="page-header">
          <h1 class="page-title">{{ page.title }}</h1>
        </div>
      {% endunless %}
      <section class="page-content">
        {{ content }}
      </section>
      {% unless page.options contain "nofooter" %}
        {% include footer.html %}
      {% endunless %}
      {% include scripts.html %}
    </div>
  </body>
</html>
